---
---

@import "no-style-please";

@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('/assets/fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'JetBrains Mono Nerd Font', monospace;
}